.flag-sm {
    width: 50px;
    height: 33px;
    cursor: pointer;
}

table {
    table-layout: fixed;
    width: 100%;
}

.clickable {
  &:hover {
   cursor: pointer;
 }
}

.row-flag {
    width: 2.5%
}
.row-name {
    width: 8%
}
.row-region {
    width: 4%
}
.row-subregion {
    width: 6%
}
.row-currency {
    width: 10%
}
.row-language {
    width: 5%
}
.row-native {
    width: 10%
}
