<div *ngIf="countryList" class="container-fluid">
  <app-country-filter [countries]="countryList"
                      (filteredCountriesEmitter)="filteredCountries = $event"></app-country-filter>
  <div>
    <table class="table table-hover">
      <thead>
      <th class="row-flag bg-white">Flag</th>
      <th class="row-name bg-white">Name</th>
      <th class="row-region bg-white">Region</th>
      <th class="row-subregion bg-white">Subregion</th>
      <th class="row-region bg-white">Area (km^2)</th>
      <th class="row-currency bg-white">Currency</th>
      <th class="row-language bg-white">Language</th>
      <th class="row-native bg-white">Native Name</th>
      </thead>
      <tbody>
      <tr *ngFor="let country of filteredCountries" class="clickable {{selectedCountry.name === country.name ? 'bg-primary text-white' : ''}}" (click)="selectCountry(country)">
        <td>
          <img class="flag-sm" [src]="country.flagImage">
        </td>
        <td>
          <div>{{country.name}}</div>
        </td>
        <td>
          <div>{{country.region}}</div>
        </td>
        <td>
          <div>{{country.subRegion}}</div>
        </td>
        <td>
          <div>{{country.area}}</div>
        </td>
        <td>
          <div>{{country.currencyName}} ({{country.currencySymbol}})</div>
        </td>
        <td>
          <div>{{country.nativeLanguage}}</div>
        </td>
        <td>
          <div>{{country.nativeName}}</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
